/*!
 * Copyright (c) 2017 Benjamin Van Ryseghem<benjamin@vanryseghem.com>
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the "Software"), to deal
 * in the Software without restriction, including without limitation the rights
 * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in
 * all copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
 * SOFTWARE.
 */

.hero-bio {
	.hero-info, .hero-avatar {
		display: inline-block;
	}

	.hero-avatar {
		float: left;
		padding: 40px;

		img {
			margin-right: 30px;
			width: 300px;
		}
	}

	.hero-info {
		padding: 40px 20px;
		display: grid;

		.hero-id {
			border: 1px solid #ccc;
			padding: 20px;
			margin-bottom: 40px;

			h3 {
				margin: 14px 0;
			}

			.description {
				font-style: italic;
			}
		}

		.collection-title {
			font-weight: bold;
			padding-bottom: 10px;
		}

		.collection-entry {
			border-top: 1px solid #eee;
			padding: 4px 0;

			&:last-child {
				border-bottom: 1px solid #eee;
			}
		}
	}

	ul {
		margin: 0;
		padding: 0;
		list-style: none;

		&.collection-entries {
			margin: 10px 0 10px 40px;
		}
	}
}
