/*!
 * Copyright (c) 2017 Benjamin Van Ryseghem<benjamin@vanryseghem.com>
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the "Software"), to deal
 * in the Software without restriction, including without limitation the rights
 * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in
 * all copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
 * SOFTWARE.
 */

.container {
	.hero-card {
		padding: 20px;

		.card-container {
			$info-height: 40px;
			$border-color: #eee;
			$background-color: #ccc;

			border: 1px solid;
			height: 100%;

			background: $background-color;

			.hero-avatar {
				overflow: hidden;
				padding: 4px 20px;
				position: relative;
				text-align: center;

				img {
					max-width: 100%;
					max-height: 100%;
					left: 50%;
					top: 50%;
					padding: 20px;
				}
			}

			.hero-name {
				height: $info-height;
				line-height: $info-height;
				font-size: 16px;
				text-overflow: ellipsis;
				white-space: nowrap;
				overflow: hidden;
				padding: 0 20px;
				border-top: 1px solid $border-color;
				background: white;
			}

			.actions {
				height: $info-height;
				line-height: $info-height;
				padding: 0 20px;
				background: white;
				border-top: 1px solid $border-color;

				.action {
					margin-right: 10px;

					&:last-child {
						margin-right: 0;
					}

					i.fa {
						margin-right: 4px;
					}
				}
			}
		}
	}

	@media (min-width: 768px) {
		.hero-card .card-container .hero-avatar {
			height: 128px;

			img {
				position: absolute;
				transform: translate(-50%, -50%);
			}
		}
	}

	@media (min-width: 992px) {
		.hero-card .card-container .hero-avatar {
			height: 183px;

			img {
				position: absolute;
				transform: translate(-50%, -50%);
			}
		}
	}

	@media (min-width: 1200px) {
		.hero-card .card-container .hero-avatar {
			height: 233px;

			img {
				position: absolute;
				transform: translate(-50%, -50%);
			}
		}
	}
}
